<mat-card class="card">
    
    <mat-card-content>
            <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input style="width:350px" [ngClass]="{'error':isValid('firstName')}" matInput placeholder = "First Name: " formControlName="firstName" />
        </mat-form-field>
        <br/>
        <mat-form-field>
            <input style="width:350px" [ngClass]="{'error':isValid('lastName')}" matInput placeholder = "Last Name: "formControlName="lastName"/> 
        </mat-form-field><br/>
        <mat-form-field>
            <input style="width:350px" [ngClass]="{'error':isValid('email')}" matInput placeholder = "Email: " type="email" formControlName="email"/>
        </mat-form-field><br/>
        <mat-form-field>
            <input style="width:350px" [ngClass]="{'error':isValid('pass')}" matInput placeholder = "Password: " type="password" formControlName="pass"/> 
        </mat-form-field><br/>
        <mat-form-field>
            <input style="width:350px" [ngClass]="{'error':isValid('cpass')}" matInput placeholder = "Confirm Password: " type="password" formControlName="cpass"/> 
        </mat-form-field><br/>
        
                <span *ngIf="form.errors?.mismatchedFields">Passwords do not match</span>
            
        <br/>

        <button mat-raised-button color="primary">Register</button>
    </form>
    </mat-card-content>
</mat-card>        